//variables

$Blue: #002c5f;
$Sand: #e4dcd3;
$LightSand: #f6f3f2;
$Gold: rgb(163,107,79);
$White: #fff;
$Black: #000;
$ActiveBlue: #00aad2;
$SkyBlue: #AACAE6;
$ActiveRed: #e63312;
$Gray1: #f0f0f0;
$Gray2: #bebebe;
$Gray3: #8c8c8c;

$bgdir: "../../../images";

//variables




ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

.dropdown-toggle {
	background: none;
	border: 0;
	box-shadow: none;
}

.content-wrapper {
	min-height: 100vh;
	overflow: hidden;
	background: $Gray1;
}
.login-page {
	background: #cccccc;
	.main {
		.login-content {
			background: #ffffff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 80px 0;
			margin: 0 15px;

			h1 {
				text-align: center;
			}
			form {
				margin-top: 30px;
				.btn {
					width: 100%;
					background: #00f;
					color: #ffffff;
				}
				ul {
					li {
						margin-bottom: 10px;
						a {
							color: #333;
						}
					}
				}
			}
		}
	}
}

.landing-page {
	.main-banner {
		background: url($bgdir + "/img-tone@3x.png") no-repeat;
		background-size: cover;
		height: 600px;
		&__wrapper {
			background: url($bgdir + "/img-tone@3x.png") no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
			max-width: 1440px;
			max-height: 550px;
			margin: 0 auto;
			padding-top: 125px;
			h1 {
				font-size: 60px;
				opacity: .9;
				color: $Black;
				text-align: center;
				display: block;
			}
		}
	}
	.main-content {
		background: $White;
		max-width: 1360px;
		margin: 0 auto;
		.tagline {
			padding-top: 50px;
			p {
				font-size: 28px;
				line-height: 1.2;
				color: $Black;
				margin-bottom: 30px;
			}
		}
		.main-thumbnails {
			.thumbnail {
				padding: 0;
				margin-bottom: 30px;
				border: 0;
				border-radius: 0;
				background: $LightSand;
				max-height: 329px;
				.caption {
					padding: 17px;
				}
				h3 {
					margin: 0 10px;
					padding: 0;
					font-size: 28px;
					line-height: 33px;
					color: $Black;
				}
			}
		}
		.bottom-line {
			margin-top: 60px;
			border-top: 1px solid $LightSand;
			padding: 22px 20px 50px;
			h2 {
				font-size: 42px;
			}
			p {
				font-size: 18px;
				line-height: 1.3;
				opacity: .9;
				color: $Black;
			}
			h4 {
				font-size: 18px;
				line-height: 1.3;
				font-weight: bold;
				opacity: .9;
				color: $Black;
				margin: 0;
				padding: 0;
			}
			span, a {
				font-size: 18px;
				line-height: 1.3;
				opacity: .9;
				color: $Black;
				&.position {
					color: $Gray3;
				}
			}
			a {
				display: inline-block;
				border-bottom: 1px solid;
				padding-bottom: 5px;
			}
			.contacts {
				padding: 0 20px;
			}
			.download {
				padding: 0 20px;
				.btn {
					margin-top: 34px;
				}
			}
		}
	}
}


.h-btn {
	background: $Blue;
	color: $White;
	border-radius: 0;
}
.form {
	input {
		border-radius: 0;
		border: 0;
		outline: 0;
		box-shadow: none;
	}
	input[type="text"],input[type="password"],input[type="email"] {
		background: #fafafa;
	}

}
.main {
	padding-top: 75px;
}
.header {
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: #ffffff;
	box-shadow: 1px 2px 1px rgba(0,0,0,.6);
	z-index: 10;
	.header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 80px;
	}
	.main-logo {
		width: 300px;
		a {
			display: flex;
			align-items: center;
			justify-content: space-between;
			&:hover {
				text-decoration: none;
			}
			img {
				display: block;
				height: 50px;
			}
			span {
				display: block;
				font-size: 27px;
				font-weight: bold;
				color: #333;
			}
		}
	}
}
.footer {
	.footer-content {
		display: flex;
		justify-content: space-between;
		height: 80px;
		align-items: center;
		.footer-nav {
			ul {
				display: flex;
				justify-content: space-between;
				width: 100%;
				li {
					display: block;
					a {
						color: #ffffff;
					}
				}

			}
		}
		.copy {
			a {
				color: #fff;
				text-transform: uppercase;
				text-align: right;
			}

		}
	}
}

@media screen and (min-width: 320px) and (max-width: 480px) {
	.header {
		.header-content {
			.main-logo {
				a {
					justify-content: flex-start;
				}
				img {
					height: 30px;
					margin-right: 10px;
				}
				span {
					font-size: 20px;
				}
			}
		}
	}
	.login-page {
		.main {
			.login-content {
				padding: 10px 5px;
			}
		}
	}

	.footer {
		.footer-content {
			flex-direction: column;
			height: auto;

			.footer-nav {
				ul {
					flex-direction: column;
					text-align: center;
					margin-top: 10px;
					li {
						margin-bottom: 15px;
					}
				}
			}
			.copy {
				text-align: center;
				padding-bottom: 30px;

			}
		}
	}
}